week4/Adenine_qxy.txt
week2/bob_pairing_data_2022.xlsx
week6/.pdb/pdb1u70.ent
week6/1u70.pdb
week6/2kdl1.pdb
week6/2kdm1.pdb
week6/plot.png
week7/beautiful_picture_square.png
.DS_Store
week9/2DFT.npy
